h1,
h2{
    color: white;
    font-weight: bold;
    text-align: center;
}



h1 {
    font-size: 1.5rem;
    margin: 2rem 0 1rem 0;
    font-weight: normal;
    color: #7e0118;
}

h2 {
    font-weight: bold;
    font-size: 3rem;
}

.fallback {
    text-align: center;
    color: white;
}
